<section class="window-content">
  <div class="sidebar-tab compendium flexcol">
    <ol class="directory-list">
      {{#each improvements as |improvement id|}}
      <li class="directory-item flexrow item drag" data-entry-id="{{ improvement._id }}">
        <img class="profile" title="{{ improvement.name }}" src="{{ improvement.img }}">
        <h4 class="entry-name"><a>{{ improvement.name }}</a></h4>
      </li>
      {{/each}}
    </ol>
  </div>
</section>
