@font-face {
    font-family: "Veteran";
    src: url("../fonts/veteran.ttf") format("truetype");
}

@font-face {
    font-family: "Thirdman";
    src: url("../fonts/3rdman-regular.otf") format("truetype");
}

@font-face {
    font-family: "WarnockRegular";
    src: url("../fonts/warnockpro-regular.otf") format("truetype");
}

@font-face {
    font-family: "Cedarville Cursive";
    src: url("../fonts/CedarvilleCursive-Regular.ttf") format("truetype");
}
