.items-list {
  padding: 0;
  overflow-y: auto;

  .item {
    display: flex;
    padding: 3px 0;
    margin: 2px 0;
    line-height: 18px;
    border-bottom: 1px solid $grey;
    align-items: center;

    .item-name {
      font-weight: bold;
      margin: 0;
      flex-grow: 1;
    }

    .item-controls {
      width: 34px;
    }

    .roll {
      margin: 0 8px;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }

    img {
      margin-right: 4px;
      width: 30px;
      border: none;
    }
  }
}
