.panel {
  background-image: url("/ui/parchment-white.jpg");
  border: 1px solid $grey;
  border-radius: 5px;
  height: 100%;
  position: relative;

  &.tab {
    grid-template-rows: 1fr minmax(20px, auto);

    &[data-tab].active {
      display: grid
    }
  }

  .content {
    margin: 5px 3px 5px 3px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    height: 260px;

    .editor {
      height: 240px;
    }
  }
}
