.tabs {
  justify-content: space-around;

  .item {
    padding: 2px 2px 10px 2px;
    cursor: pointer;
    text-align: center;
    font-family: ThirdMan;
    font-size: 18px;
    flex: 0;

    &:hover {
      color: $red;
      text-shadow: none !important;
    }

    &.active {
      text-shadow: none !important;
      background: url("../images/line.png") no-repeat bottom;
    }
  }
}
