<div class="panel tab" data-tab="basic-moves">
  <div class="content">
    <ol class="items-list">
      {{#each basicMoves as |move id|}}
      <div class="item-entry">
        <li class="item drag collapsible-header" data-item-id="{{move._id}}">
          <div class="roll">
            {{{ icon 'dice' }}}
          </div>
          <img src="{{move.img}}">
          <h4 class="item-name">
            {{ move.name }}
            <i class="fas fa-angle-down collapsible-icon"></i>
          </h4>
        </li>
        <div class="description collapsible-content collapsed" style="display: none;">
          {{{ parseHTML move.description }}}
        </div>
      </div>
      {{/each}}
    </ol>
  </div>
</div>
