<div class="panel tab" id="motw_career" data-tab="career">
  <div class="content">
    <h1 class="archetype" data-item-id="{{archetype._id}}">
      {{{ or archetype.name strings.noArchetype }}}
    </h1>
    {{#if archetype.name }}
    <div class="career-container">
      <section class="left">
        <div class="archetype-header">
          <div>{{ localize "MOTW.charm" }}</div>
          <div>{{ localize "MOTW.cool" }}</div>
          <div>{{ localize "MOTW.sharp" }}</div>
          <div>{{ localize "MOTW.tough" }}</div>
          <div>{{ localize "MOTW.weird" }}</div>
        </div>
        {{#each archetype.data.stats as |stats id|}}
          {{#if id }}
          <div class="archetype-stat {{#if (eq id ../archetype.data.selected) }}highlight{{/if}}" data-id="{{ id }}">
            <div>{{ stats.[0] }}</div>
            <div>{{ stats.[1] }}</div>
            <div>{{ stats.[2] }}</div>
            <div>{{ stats.[3] }}</div>
            <div>{{ stats.[4] }}</div>
          </div>
          {{/if}}
        {{/each}}
      </section>

      <section class="right">
        <div class="quote">{{{ archetype.data.description }}}</div>
      </section>
    </div>
    <div class="career-description">
      <h2>{{ localize "MOTW.Description" }}</h2>
      <div class="content">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
