<div class="panel tab" data-tab="equipment">
  <div class="content">
    <section class="left">
      <h2 class="weapons">
        {{ localize "MOTW.Weapons" }}
        {{{ icon 'plus' }}}
      </h2>
      Test
      <h2 class="armors">
        {{ localize "MOTW.Armors" }}
        {{{ icon 'plus' }}}
      </h2>
      Test
    </section>

    <section class="right">
      <h2 class="miscellaneous">
        {{ localize "MOTW.Miscellaneous" }}
        {{{ icon 'plus' }}}
      </h2>
      <div class="items-list">
        {{#each inventory as |item id|}}
        <div class="item-entry">
          <li class="item flexrow" data-item-id="{{item._id}}">
            <h4 class="item-name">
              {{item.name}}{{#unless (eq data.quantity 1)}}
              ({{data.quantity}}){{/unless}} <i class="fas fa-angle-down"></i>
            </h4>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          <div class="description collapsible collapsed">
            {{{data.description}}}
          </div>
        </div>
        {{/each}}
      </div>
    </section>
  </div>
</div>
