<div class="panel tab" data-tab="hunter-moves">
  <div class="content">
    <section>
      <h2 class="own-moves">
        {{{ strings.ownMoves }}}
        {{{ icon 'plus' }}}
      </h2>
      <ol class="items-list">
        {{#each hunterMoves as |move id|}}
        <div class="item-entry">
          <li class="item drag collapsible-header" data-item-id="{{move._id}}">
            <div class="roll">
              {{{ icon 'dice' }}}
            </div>
            <img src="{{move.img}}">
            <h4 class="item-name">
              {{ move.name }}
              <i class="fas fa-angle-down collapsible-icon"></i>
            </h4>
            <div class="item-controls">
              <a class="item-control item-delete" title="Delete Move">
                {{{ icon 'trash' }}}
              </a>
            </div>
          </li>
          <div class="description collapsible-content collapsed" style="display: none;">
            {{{ parseHTML move.description }}}
          </div>
        </div>
        {{/each}}
      </ol>
    </section>

    <section>
      <h2>{{{ localize "MOTW.AlienMoves" }}}</h2>
      <ol class="items-list">
        {{#each alienMoves as |move id|}}
        <div class="item-entry">
          <li class="item drag collapsible-header" data-item-id="{{move._id}}">
            <div class="roll">
              {{{ icon 'dice' }}}
            </div>
            <img src="{{ move.img }}">
            <h4 class="item-name">
              {{move.name}}
              <i class="fas fa-angle-down collapsible-icon"></i>
            </h4>
            <div class="item-controls">
              <a class="item-control item-delete" title="Delete Move">
                {{{ icon 'trash' }}}
              </a>
            </div>
          </li>
          <div class="description collapsible-content collapsed" style="display: none;">
            {{{ parseHTML move.description }}}
          </div>
        </div>
        {{/each}}
      </ol>
    </section>
  </div>
  <div class="status">
    <div>{{{ localize "MOTW.Archetype" }}} : {{{ parseHTML strings.hunterMoveCount }}}</div>
    <div>{{{ localize "MOTW.Other" }}} : {{{ parseHTML strings.alienMoveCount }}}</div>
  </div>
</div>
