@font-face {
  font-family: "Veteran";
  src: url("../fonts/veteran.ttf") format("truetype");
}

@font-face {
  font-family: "Thirdman";
  src: url("../fonts/3rdman-regular.otf") format("truetype");
}

@font-face {
  font-family: "WarnockRegular";
  src: url("../fonts/warnockpro-regular.otf") format("truetype");
}

@font-face {
  font-family: "Cedarville Cursive";
  src: url("../fonts/CedarvilleCursive-Regular.ttf") format("truetype");
}

.motw .polaroid {
  background: url("../images/hunter/polaroid.jpg");
  background-size: 180px 220px;
  padding: 10px 10px 50px 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 180px;
  flex-basis: 180px;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.motw .polaroid .name {
  margin-top: 4px;
}

.motw .polaroid .name input {
  font-family: 'Cedarville Cursive', cursive;
  width: 156px;
  font-size: 16px;
  text-align: center !important;
}

.motw .polaroid .clipper {
  position: absolute;
  top: -12px;
  left: -5px;
}

.motw .polaroid .clipper img {
  border: none;
  width: 60px;
}

.motw .polaroid img {
  border: none;
  margin-top: 1px;
  margin-left: 1px;
  bottom: -2px;
  height: calc(100% + 4px);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.motw .tabs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.motw .tabs .item {
  padding: 2px 2px 10px 2px;
  cursor: pointer;
  text-align: center;
  font-family: ThirdMan;
  font-size: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.motw .tabs .item:hover {
  color: #990000;
  text-shadow: none !important;
}

.motw .tabs .item.active {
  text-shadow: none !important;
  background: url("../images/line.png") no-repeat bottom;
}

.motw .panel {
  background-image: url("/ui/parchment-white.jpg");
  border: 1px solid #808080;
  border-radius: 5px;
  height: 100%;
  position: relative;
}

.motw .panel.tab {
  grid-template-rows: 1fr minmax(20px, auto);
}

.motw .panel.tab[data-tab].active {
  display: grid;
}

.motw .panel .content {
  margin: 5px 3px 5px 3px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  height: 260px;
}

.motw .panel .content .editor {
  height: 240px;
}

.motw .items-list {
  padding: 0;
  overflow-y: auto;
}

.motw .items-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
  margin: 2px 0;
  line-height: 18px;
  border-bottom: 1px solid #808080;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.motw .items-list .item .item-name {
  font-weight: bold;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.motw .items-list .item .item-controls {
  width: 34px;
}

.motw .items-list .item .roll {
  margin: 0 8px;
}

.motw .items-list .item .roll:hover {
  color: #990000;
  cursor: pointer;
}

.motw .items-list .item img {
  margin-right: 4px;
  width: 30px;
  border: none;
}

.motw select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -o-text-overflow: "";
  text-overflow: "";
  background: none;
  border: none;
  width: auto;
  -moz-text-align-last: center;
  text-align-last: center;
  text-align: center !important;
  padding: 3px;
}

.motw .field {
  font-family: ThirdMan;
  font-size: 23px;
  margin: 2px;
  padding: 0;
  width: 100%;
  color: black;
}

.motw .field[type="number"] {
  text-align: center;
}

.motw .field:not([type="checkbox"]) {
  border: none;
  background: none;
}

.motw .field[type="number"]::-webkit-inner-spin-button,
.motw .motw_field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.archetype-sheet .window-content {
  padding: 0;
}

.archetype-sheet .container {
  font-family: WarnockRegular;
  font-size: 22px;
  background-image: url("../images/coffee background.jpg");
}

.archetype-sheet .name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 55px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.archetype-sheet .description {
  line-height: 34px;
  margin-left: 16px;
}

.improvement-sheet .window-content {
  padding: 0;
  background-image: url("../images/notecard background.jpg");
}

.improvement-sheet .container {
  font-family: WarnockRegular;
  font-size: 16px;
}

.improvement-sheet .name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 45px;
  margin-bottom: 26px;
}

.improvement-sheet .description {
  line-height: 24px;
  margin-left: 20px;
  margin-right: 15px;
}

.improvement-sheet .description ul {
  margin: 2px 0 25px;
  padding: 0 0 0 2em;
}

.move-sheet .window-content {
  padding: 0;
  background-image: url("../images/notecard background.jpg");
}

.move-sheet .container {
  font-family: WarnockRegular;
  font-size: 16px;
}

.move-sheet .name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 45px;
  margin-bottom: 26px;
}

.move-sheet .description {
  line-height: 24px;
  margin-left: 20px;
  margin-right: 15px;
}

.move-sheet .description ul {
  margin: 2px 0 25px;
  padding: 0 0 0 2em;
}

.hunter-sheet {
  min-width: 600px;
  min-height: 595px;
}

.hunter-sheet .window-content {
  font-family: WarnockRegular;
  background-size: 600px 570px;
  width: 100%;
  list-style: none;
  height: 100%;
  background-image: url("../images/coffee background.jpg");
  padding: 0;
}

.hunter-sheet .sheet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
}

.hunter-sheet .sheet-header .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hunter-sheet .sheet-header .attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/hunter/attributes.png");
  background-size: 390px 175px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 5px;
  padding: 35px 40px 30px 55px;
  height: 140px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hunter-sheet .sheet-header .attributes .attribute {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin: 0 8px;
}

.hunter-sheet .sheet-header .attributes .attribute .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hunter-sheet .sheet-header .attributes .attribute .field {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin-right: 1px;
}

.hunter-sheet .sheet-header .attributes .attribute .bonus {
  margin-left: 1px;
  color: #BBBBBB;
}

.hunter-sheet .sheet-header .attributes .attribute .bonus:hover {
  text-shadow: 0 0 8px #990000;
}

.hunter-sheet .sheet-header .attributes .attribute .bonus.active {
  color: #990000;
}

.hunter-sheet .sheet-header label {
  font-family: ThirdMan;
  font-size: 23px;
  text-align: center;
}

.hunter-sheet .sheet-header .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 29px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hunter-sheet .sheet-header .resources .resource {
  margin: 0 5px;
}

.hunter-sheet .sheet-header .resources .resource-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}

.hunter-sheet .sheet-header .resources .health_warning {
  height: 2px;
  background-image: url("../images/hunter/bar.png");
  margin-left: 55px;
  width: 70px;
}

.hunter-sheet .sheet-header .resources .unstable {
  margin: 5px auto auto;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-size: 18px;
}

.hunter-sheet .sheet-header .bar {
  cursor: pointer;
  background-size: 18px;
  background-position: 0;
  height: 18px;
  margin-bottom: auto;
}

.hunter-sheet .sheet-header .bar.health {
  background-image: url("../images/hunter/empty_checkbox.png");
}

.hunter-sheet .sheet-header .bar.health.active {
  background-image: url("../images/hunter/health.png");
}

.hunter-sheet .sheet-header .bar.luck {
  background-image: url("../images/hunter/empty_checkbox.png");
}

.hunter-sheet .sheet-header .bar.luck.active {
  background-image: url("../images/hunter/luck.png");
}

.hunter-sheet .sheet-header .xp-bar {
  text-align: center;
  font-family: ThirdMan;
  font-size: 16px;
  margin: auto 3px 3px;
  cursor: pointer;
}

.hunter-sheet .sheet-header .xp-bar * {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 19px;
}

.hunter-sheet .sheet-header .xp-bar .bar {
  background-image: url("../images/hunter/xp_inactive.png");
  background-position: bottom;
}

.hunter-sheet .sheet-header .xp-bar .bar.active {
  background-image: url("../images/hunter/xp.png");
}

.hunter-sheet .sheet-body {
  margin: 25px 5px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hunter-sheet .sheet-body .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.hunter-sheet .sheet-body .panel[data-tab="hunter-moves"] .own-moves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hunter-sheet .sheet-body .panel[data-tab="hunter-moves"] .own-moves i {
  width: 36px;
}

.hunter-sheet .sheet-body .panel[data-tab="hunter-moves"] .own-moves i:hover {
  color: #990000;
  cursor: pointer;
}

.hunter-sheet .sheet-body .panel[data-tab="equipment"] .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.hunter-sheet .sheet-body .panel[data-tab="equipment"] .content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hunter-sheet .sheet-body .panel[data-tab="equipment"] .content h2 i {
  width: 36px;
}

.hunter-sheet .sheet-body .panel[data-tab="equipment"] .content h2 i:hover {
  color: #990000;
  cursor: pointer;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .career-container {
  display: grid;
  grid-template-columns: 8fr 12fr;
  grid-gap: 8px;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .archetype {
  text-align: center;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .archetype-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 4px 5px 12px;
  border: 1px black solid;
  padding: 4px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  cursor: url("../images/hunter/eraser.cur"), pointer;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .archetype-stat:not(.highlight)::after {
  content: "";
  position: absolute;
  background-image: url("../images/hunter/scribble.png");
  top: -5px;
  left: -18px;
  width: 114%;
  height: 150%;
  background-position: center;
  background-size: 246px 38px;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .archetype-stat.highlight {
  cursor: default;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .archetype-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 4px;
}

.hunter-sheet .sheet-body .panel[data-tab="career"] .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-right: 8px;
}

.hunter-sheet .sheet-body .panel[data-tab="improvements"] .basic-improvements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hunter-sheet .sheet-body .panel[data-tab="improvements"] .basic-improvements i {
  width: 36px;
}

.hunter-sheet .sheet-body .panel[data-tab="improvements"] .basic-improvements i:hover {
  color: #990000;
  cursor: pointer;
}

.weapon-sheet .window-content {
  padding: 0;
  background-image: url("../images/notecard background.jpg");
}

.weapon-sheet .container {
  font-family: WarnockRegular;
  font-size: 16px;
}

.weapon-sheet .name {
  text-align: center;
  font-family: ThirdMan;
  font-size: 45px;
  margin-bottom: 26px;
}

.weapon-sheet .description {
  line-height: 24px;
  margin-left: 20px;
  margin-right: 15px;
}

.weapon-sheet .description ul {
  margin: 2px 0 25px;
  padding: 0 0 0 2em;
}
