.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  h2 {
    display: flex;
    justify-content: space-between;

    i {
      width: 36px;

      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }
}
