.statistics {
  display: flex;
  flex-direction: column;
}

.attributes {
  display: flex;
  background-image: url("../images/hunter/attributes.png");
  background-size: 390px 175px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto 5px;
  padding: 35px 40px 30px 55px;
  height: 140px;
  align-content: center;
  justify-content: center;

  .attribute {
    text-align: center;
    flex: 0;
    margin: 0 8px;

    .score {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .field {
      flex: 0;
      margin-right: 1px;
    }

    .bonus {
      margin-left: 1px;
      color: $light-grey;

      &:hover {
        text-shadow: 0 0 8px $red;
      }

      &.active {
        color: $red;
      }
    }
  }
}

label {
  font-family: ThirdMan;
  font-size: 23px;
  text-align: center;
}

.resources {
  display: flex;
  margin: 2px 29px;
  justify-content: space-between;
  align-items: flex-start;

  .resource {
    margin: 0 5px;
  }

  .resource-bar {
    display: flex;
    margin-top: 4px;
  }

  .health_warning {
      height: 2px;
      background-image: url("../images/hunter/bar.png");
      margin-left: 55px;
      width: 70px;
  }

  .unstable {
    margin: 5px auto auto;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

.bar {
  cursor: pointer;
  background-size: 18px;
  background-position: 0;
  height: 18px;
  margin-bottom: auto;

  &.health {
    background-image: url("../images/hunter/empty_checkbox.png");

    &.active {
      background-image: url("../images/hunter/health.png");
    }
  }

  &.luck {
    background-image: url("../images/hunter/empty_checkbox.png");

    &.active {
      background-image: url("../images/hunter/luck.png");
    }
  }
}

.xp-bar {
  text-align: center;
  font-family: ThirdMan;
  font-size: 16px;
  margin: auto 3px 3px;
  cursor: pointer;

  * {
    flex-shrink: 1;
    width: 19px;
  }

  .bar {
    background-image: url("../images/hunter/xp_inactive.png");
    background-position: bottom;

    &.active {
      background-image: url("../images/hunter/xp.png");
    }
  }
}
