<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    {{> systems/motw/system/views/hunter/partials/_headers.html }}
  </header>

  <section class="sheet-body">
    	{{> systems/motw/system/views/hunter/partials/_navbar.html }}
      <div class="tab">
        {{> systems/motw/system/views/hunter/partials/_career_tab.html }}
        {{> systems/motw/system/views/hunter/partials/_basic_moves_tab.html }}
        {{> systems/motw/system/views/hunter/partials/_hunter_moves_tab.html }}
        {{> systems/motw/system/views/hunter/partials/_equipment_tab.html }}
        {{> systems/motw/system/views/hunter/partials/_improvements_tab.html }}
      </div>
  </section>
</form>
